*.css text eol=lf filter=tabspace
*.html text eol=lf filter=tabspace
*.js text eol=lf filter=tabspace
*.json text eol=lf filter=tabspace
*.md text eol=lf filter=tabspace
*.scss text eol=lf filter=tabspace
*.ts text eol=lf filter=tabspace
*.txt text eol=lf filter=tabspace
*.xml text eol=lf filter=tabspace
*.yml text eol=lf filter=tabspace
.editorconfig text eol=lf filter=tabspace
.gitattributes text eol=lf filter=tabspace
.gitignore text eol=lf filter=tabspace
Dockerfile text eol=lf filter=tabspace
